<div id="<%= dom_id cash %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Flow:</strong>
    <%= cash.Flow %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction date:</strong>
    <%= cash.transaction_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cash.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= cash.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction type:</strong>
    <%= cash.transaction_type %>
  </p>

</div>
