<div id="<%= dom_id cash %>">
  <p class="my-5">
    <%= cash.Flow %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction date: <%= cash.transaction_date %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cash.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value US$: <%= cash.value %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction type:</strong>
    <%= cash.transaction_type %>
  </p>

</div>
